In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764031 sha256=c132faf0921693c024f32db5ffca34c5b2098e579db29d6f9a6a507fe2830c2f
  Stored in directory: c:\users\alice\appdata\local\pip\cache\wheels\1d\27\68\1382001655ef41217e1dd34d59aa777612135379bab64279e9
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [19]:
import pyspark
import pandas as pd

In [28]:
iris = pd.read_csv("iris.csv")

In [29]:
iris

       A    B    C    D               E
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
#creating spark session

from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [13]:
spark

In [30]:
df_pyspark=spark.read.csv('iris.csv')

In [31]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [32]:
df_pyspark.show()

+---+---+---+---+-----------+
|_c0|_c1|_c2|_c3|        _c4|
+---+---+---+---+-----------+
|  A|  B|  C|  D|          E|
|5.1|3.5|1.4|0.2|Iris-setosa|
|4.9|  3|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|  5|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|  5|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
|5.4|3.7|1.5|0.2|Iris-setosa|
|4.8|3.4|1.6|0.2|Iris-setosa|
|4.8|  3|1.4|0.1|Iris-setosa|
|4.3|  3|1.1|0.1|Iris-setosa|
|5.8|  4|1.2|0.2|Iris-setosa|
|5.7|4.4|1.5|0.4|Iris-setosa|
|5.4|3.9|1.3|0.4|Iris-setosa|
|5.1|3.5|1.4|0.3|Iris-setosa|
|5.7|3.8|1.7|0.3|Iris-setosa|
+---+---+---+---+-----------+
only showing top 20 rows

In [34]:
# to add the colums as header
spark.read.option('header','true').csv("iris.csv")

DataFrame[A: string, B: string, C: string, D: string, E: string]

In [45]:
df_pyspark=spark.read.option('header','true').csv("iris.csv")

In [46]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [47]:
df_pyspark.head(5)

[Row(A='5.1', B='3.5', C='1.4', D='0.2', E='Iris-setosa'),
 Row(A='4.9', B='3', C='1.4', D='0.2', E='Iris-setosa'),
 Row(A='4.7', B='3.2', C='1.3', D='0.2', E='Iris-setosa'),
 Row(A='4.6', B='3.1', C='1.5', D='0.2', E='Iris-setosa'),
 Row(A='5', B='3.6', C='1.4', D='0.2', E='Iris-setosa')]

In [48]:
df_pyspark.printSchema()

root
 |-- A: string (nullable = true)
 |-- B: string (nullable = true)
 |-- C: string (nullable = true)
 |-- D: string (nullable = true)
 |-- E: string (nullable = true)